.teste{
  text-align: center;
  align-items: center;
  
 

}

.testea{
   background-color: rgb(27, 16, 16);
  margin: 10vh;
padding: 0%;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 0%;
}
.testew{
  background-color: rgb(0, 53, 145);
  margin: 10vh;
 padding: 0%;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.center{
 

}